.dp-datePicker {
  background: #FFFFFF;
  border-radius: 10px;
  color: #595959;
  display: inline-block;
}
.dp-datePicker--background {
  align-items: center;
  background: rgba(0, 0, 0, .5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.dp-datePicker__icon {
  color: #FDFDFD;
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;
  right: 20px;
  top: 15px;
}
.dp-datePicker__icon:hover {
  cursor: pointer;
}
.dp-calendar {
  border-collapse: collapse;
}
.dp-weekDays__name {
  background: #FFFFFF;
  border-bottom: 1px solid #DCDCDC;
  font-weight: 100;
  padding: 1rem 2rem;
  text-align: center;
}
.dp-days__week___day {
  background: #FDFDFD;
  padding: 1rem;
  text-align: center;
  transition: background .25s ease-in-out, transform .2s ease-in;
}
.dp-days__week___day:hover, .is-today {
  background: #E6FAFF;
  color: #00B8E6;
  cursor: pointer;
  transform: scale(1.2);
}

.dp-controls {
  background: #66CCFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FDFDFD;
}
.dp-controls__wrap {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  padding: 1rem;
}
.dp-controls__previous, .dp-controls__next {
  border-radius: 100%;
  padding: .15rem .5rem;
}
.dp-controls__previous:hover, .dp-controls__next:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}
.dp-controls__month {
  margin-right: 1rem;
}
.dp-controls__month, .dp-controls__year, .dp-controls__previous, .dp-controls__next {
  text-shadow: 3px 2px 5px rgba(0, 0, 0, .25);
}

.dp-controls__info___title {
  background: rgba(0, 0, 0, .2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  font-weight: 100;
  padding: .325rem 0;
}
.dp-controls__info___dayOfMonth {
  font-size: 5rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.dp-controls__info___month {
  font-size: 1.2rem;
  margin-bottom: .325rem;
}
.dp-controls__info___year {
  font-size: .9rem;
}
.dp-controls__info___month, .dp-controls__info___year {
  display: block;
  font-weight: 100;
}
.dp-controls__info___detail {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.dp-controls__info___detailGroup {
  display: inline-block;
}

.dp-actions {
  border-top: 1px solid #DCDCDC;
}
.dp-actions__wrap {
  display: flex;
  justify-content: space-around;
}
.dp-actions__action {
  background: transparent;
  border: none;
  color: #595959;
  display: block;
  padding: .75rem;
  width: 100%;
}
.dp-actions__action:focus {
  outline: none;
}
.dp-actions__action:hover {
  background: rgba(0, 0, 0, .05);
  cursor: pointer;
}

.is-weekend {
  color: #FF8080;
}
.is-today, .is-inactive, .is-holyDay {
  pointer-events: none;
}
.is-disabled, .is-inactive {
  color: #DCDCDC;
}